body {
  font-family: 'Creepster', cursive;
  background: linear-gradient(to bottom, #000000, #800080);
  color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 0;
}

#tooling {
  margin-top: 20px;
}
