body {
  font-family: 'Creepster', cursive;
  background: linear-gradient(to bottom, black, purple);
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 0;
}
